<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="alert alert-light col-md-8">
        <div class="text-center mb-4">
          <h2>About Me</h2>
          <p>This is a personal app designed for remote access to a greenhouse from anywhere.</p>
        </div>
        <p>
          This hobby project is an experiment in IoT. I wanted to challenge myself by developing, deploying, and releasing a web page on my own.
          The app features a simple NodeMCU project that collects and displays sensor data from my greenhouse. It also includes control buttons and configurable settings.
          My goal is to use the greenhouse to grow mushrooms. As a newcomer to both IoT and mushroom cultivation, I'm open to any suggestions for improvement.

        </p>


        <strong>Project Hardware:</strong>
        <ul>
          <li>NodeMCU v3 Lua</li>
          <li>2 DHT sensors</li>
          <li>2 relays</li>
          <li>12V pump</li>
          <li>12V fan</li>
        </ul>


        <strong>Project Software:</strong>
        <ul>
          <li>NodeMCU firmware with Lua: <a href="https://nodemcu-build.com/">https://nodemcu-build.com/</a></li>
          <li>Angular for frontend</li>
          <li>Spring Boot for backend</li>
        </ul>

        <strong>Project Capabilities:</strong>
        <ul>
          <li><strong>humiThreshold:</strong> Humidity threshold to enable the pump (default: 75%)</li>
          <li><strong>pumpWorkInterval:</strong> Interval for pump activation (default: 5 seconds)</li>
          <li><strong>fanWorkInterval:</strong> Interval for fan operation</li>
          <li><strong>fanWorkPeriodInterval:</strong> Fan operation period. Example: 10 minutes every 20 minutes.</li>
          <li><strong>sensorDataInterval:</strong> Interval for sending sensor data to backend</li>
          <li><strong>sensorReadInterval:</strong> Interval for reading data from sensors</li>
        </ul>

        <strong>Project Plans:</strong>
        <ul>
          <li>Add CO2 sensor</li>
          <li>Create a PCB board</li>
          <li>Experiment with growing different types of mushrooms</li>
        </ul>

        <p><strong>Contact email:</strong></p>
        <ul>
          <li><a href="mailto:b1gsmen@gmail.com">b1gsmen@gmail.com</a></li>
        </ul>

      </div>
    </div>
  </div>
</section>
